body {
  direction: rtl;
  font-family: "Cairo", sans-serif;
  color: white;
  text-transform: capitalize;
  font-size: 20px;
  background-image: linear-gradient(45deg, #2196f3, #ff5722);
  min-height: 100vh;
  margin: 0;
}
form {
  background-color: #673ab747;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 6px;
}
input {
  border: none;
  outline: none;
  padding: 5px 8px;
  height: 40px;
  margin: 10px 0;
  font-family: inherit;
  font-size: 20px;
  border-radius: 6px;
  background-color: #ffc1076b;
  box-shadow: 0 0 10px 0 #00000063;
  color: white;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
label {
  font-weight: bold;
}
button {
  border: navajowhite;
  border-radius: 6px;
  outline: navajowhite;
  font-family: inherit;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 7px;
  background-image: linear-gradient(45deg, #673ab7, #795548);
  cursor: pointer;
  margin: 20px 0 0;
}
